header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
        flex: 1 0 0;
    }

    h3 {
        display: inline-block;
        margin: 0;
        cursor: pointer;

        &:hover {
            color: $link-color;
        }
    }
}
