{
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": false,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false
}